 <head>
	 <style> 
   
body{
  background-color: #F7F7F7;
}

.well{
	 position: absolute;
    left: 35%;
    top: 50%; 
    /*width: 100%;  */
    text-align: center;
    font-size: 18px;
} 

  </style>
</head>
<body>

<div class="well well-lg">
	Users are registered sucessfully. <br> Please ask them to login with the password sent to their respective mail. <br> Thank you.
</div>
</body>