<head>
<style>
.color-red{
    color: red;
}

    input.submitted.ng-invalid
{
  border:1px solid red; /* #f00; */
}

</style>
</head>

<div role="main">
  <!-- <div class="clearfix"></div> -->
  <div class="right_col" role="main">
    <div class="">
      <!-- <form ng-submit="addNew()"> -->
     <form name="bulkForm"> 
      <table border="1" class="table table-striped jambo_table bulk_action" id="table_id"> 
        <thead> 
          <tr>
            <!-- <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th> -->
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>EmailID</th>
           <!-- <th>DOB</th>   -->
          </tr>
        </thead>
        <tbody>
          

          <tr ng-repeat="personalDetail in personalDetails" name="form_submit" data-ng-model="personalDetailValue"> 
           <!-- <td>
                <input type="checkbox" ng-model="personalDetail.selected"/></td> -->
            <td> 
               <!-- <input type="text" class="form-control" data-ng-model="personalDetail.username" required/></td> -->
                 <input type="text" class="form-control" ng-class="{submitted:bulkForm.submitted}" name="username"  data-ng-model="personalDetail.username"  ng-minlength="3" ng-maxlength="40" required/> 
                

               <!--  <input type="text" class="form-control" ng-class="{submitted:registerForm.submitted}" id="username" data-ng-model="register.username" name="username" ng-minlength="3" ng-maxlength="40" required/> -->
            <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.username.$error.required">Username is required</span>
              <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.username.$error.minlength">Username is too short.</span>
               <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.username.$error.maxlength">Username is too long.</span> 


            </td>
            <td>
                <input type="text" class="form-control" ng-class="{submitted:bulkForm.submitted}" name="firstname" data-ng-model="personalDetail.firstname" ng-minlength="3" ng-maxlength="40" required/>
                <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.firstname.$error.required">Firstname is required</span>
              <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.firstname.$error.minlength">Firstname is too short.</span>
               <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.firstname.$error.maxlength">Firstname is too long.</span> 
            </td>

            <td>
                <input type="text" class="form-control" ng-class="{submitted:bulkForm.submitted}" name="lastname"  data-ng-model="personalDetail.lastname" ng-minlength="3" ng-maxlength="40" required/>
                <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.lastname.$error.required">Lastname is required</span>
              <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.lastname.$error.minlength">Lastname is too short.</span>
               <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.lastname.$error.maxlength">Lastname is too long.</span> 
            </td>
            <td>
                <input type="email" class="form-control" ng-class="{submitted:bulkForm.submitted}" data-ng-model="personalDetail.emailid" name="email" ng-minlength="3" ng-maxlength="40"  required/>
                 <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.email.$error.required">Email is required</span>
              <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.email.$error.minlength">Email is too short.</span>
               <span class="text-error" data-ng-show="bulkForm.submitted && bulkForm.email.$error.maxlength">Email is too long.</span>
            </td>
            <!--<td>
                <input type="date" class="form-control" data-ng-model="personalDetail.dob" required/>
            </td>  -->
         </tr>
        </tbody>
             <!--<tr>
              <td contenteditable='true'></td>
             </tr> -->
      </table>
      <div class="form-group">
        <!-- <input ng-hide="!personalDetails.length" type="button" class="btn btn-danger pull-right" ng-click="remove()" value="Remove"> -->
        
        <!-- <span type="submit" class="btn btn-success glyphicon glyphicon-plus addnew pull-right" style="font-size:2em;"></span> -->
        <button class="btn btn-success addnew pull-right glyphicon glyphicon-plus" data-ng-click="addNew()"></button> </div>
        <!--<span id="mySpan" class="btn btn-success addnew pull-right glyphicon glyphicon-plus"> </span>  -->
        <div> <!-- ng-disabled="!(personalDetail.username || personalDetail.firstname  || personalDetail.lastname || personalDetail.emailid)" -->
        <button class="btn btn-primary pull-right" data-ng-disabled="rowValid()" data-ng-click="submitBulk()">submit</button>
    </div>
    </form>
  </div>
  </div>
</div>