 <head>
 <style>
  input.submitted.ng-invalid
{
  border:1px solid red; /* #f00; */
}

    body{
  background-color: #F7F7F7;
}
 </style>
 </head>
 <div class="login_wrapper"> 
        <div class="animate form login_form">
          <section class="login_content">
              <form role="form" name="forgotPwdForm">
              <h1>Password Recovery</h1>
                <div ng-show="message"> <!-- <dialog open>{{ message }}</dialog> </div> -->
                <well>{{ message }}</well> </div>
                <!-- <div class="alert alert-danger" ng-show="message"> <dialog open>{{ message }}</dialog> {{ message1 }}</div> -->
         
            <div>
            <input type="email" class="form-control" ng-class="{submitted:forgotPwdForm.submitted}" placeholder="EmailID" id="email" name="email" data-ng-model="email" required/>
            <span class="text-error" data-ng-show="forgotPwdForm.submitted && forgotPwdForm.email.$error.required">Email is required</span>
            <span class="text-error" data-ng-show="forgotPwdForm.submitted && forgotPwdForm.email.$error.email">Email address is not valid</span>
          </div>
              <div>
                <!-- <a class="btn btn-default submit" href="pwdSuccess.html">Submit</a> -->
                  <a class="btn btn-default submit" data-ng-click="submit()">Submit</a>  
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                </p>

                <div class="clearfix"></div>
                <br />
                 <div>
              <h1><i class="fa fa-paw"></i> Thinqbot</h1>
                <p>©2016 All Rights Reserved. </p>
            </div>
              </div>
            </form>
          </section>
        </div> </div>