<head>
  <style>
    input.submitted.ng-invalid
{
  border:1px solid #f00;
}
body{
  background-color: #F7F7F7;
}
  </style>

</head>

<div data-ng-controller="LoginCtrl">
  <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
        <form role="form" name="LoginForm">
          <h1>Login Page</h1>
          <div class="alert alert-danger" ng-show="message">{{ message }}</div>
          <div>
            <input type="text" class="form-control" ng-class="{submitted:LoginForm.submitted}" placeholder="Username" name="username" id="username" data-ng-model="login.username" required/>
            <span class="text-error" ng-show="LoginForm.submitted && LoginForm.username.$error.required">Username is required</span>
          </div>

          <div>
            <input type="password" class="form-control" ng-class="{submitted:LoginForm.submitted}" placeholder="Password" name="password" id="password" data-ng-model="login.password" required/>
            <span class="text-error" ng-show="LoginForm.submitted && LoginForm.password.$error.required">Password is required</span>
          </div>
          <div>
            <a class="btn btn-default submit" data-ng-click="submit()">Log in</a>  
            <a class="reset_pass" ng-href="#/forgotpassword">Lost your password?</a>
          </div>
          <div class="clearfix"></div>
          <div class="separator">
            <a ng-href="#/register" class="to_register"> Create Account </a>
            <div class="clearfix"></div>
            <br />
             <div>
              <h1><i class="fa fa-paw"></i> Thinqbot</h1>
                <p>©2016 All Rights Reserved. </p>
            </div>
          </div> 
        </form>
      </section>
    </div>
  </div>
</div>