<head>
  <style>
    input.submitted.ng-invalid
{
  border:1px solid red; /* #f00; */
}

body{
  background-color: #F7F7F7;
}
.btn.outline {
    background: #faffbd;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #c8c8c8;
    color: #73879c;
} 
/*.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
} */


  </style>

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="560883349067-ahulf9idbf3uslgqgeabdldedfh0tvvi.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
 
</head>



<div data-ng-controller="RegisterCtrl">
  <a class="hiddenanchor" id="signup"></a> 
  <div class="login_wrapper">
    <div id="register" class="animate form login_form">
      <section class="login_content">

        <form role="form" name="registerForm">
          <h1>Create Account</h1> 
             <div class="alert alert-danger" ng-show="message">{{ message }}</div> 
            <!-- <button type="button" class="btn btn-primary btn-lg outline">Outline</button> -->
           <!--  <div class="btn btn-primary btn-lg outline" ng-show="message">{{ message }}</div> -->
          <div>
           <div> <input type="text" class="form-control" ng-class="{submitted:registerForm.submitted}" placeholder="Username" id="username" data-ng-model="register.username" name="username" ng-minlength="3" ng-maxlength="40" required/>
            <span class="text-error" data-ng-show="registerForm.submitted && registerForm.username.$error.required">Username is required</span>
              <span class="text-error" data-ng-show="registerForm.submitted && registerForm.username.$error.minlength">Username is too short.</span>
               <span class="text-error" data-ng-show="registerForm.submitted && registerForm.username.$error.maxlength">Username is too long.</span> </div>
           <!--  <div class="msg" style="color:red;">{{ message_username }}</div> -->
          </div> 
          
          <div>
            <input type="text" class="form-control" ng-class="{submitted:registerForm.submitted}" placeholder="Firstname" name="firstname" id="firstname" data-ng-model="register.firstname" required/>
            <span class="text-error" ng-show="registerForm.submitted && registerForm.firstname.$error.required">Firstname is required</span>
          </div>
          <div>
            <input type="text" class="form-control" ng-class="{submitted:registerForm.submitted}" placeholder="Lastname" id="lastname" name="lastname" data-ng-model="register.lastname" required/>
            <span class="text-error" ng-show="registerForm.submitted && registerForm.lastname.$error.required">Lastname is required</span>
          </div>
          <div>
            <input type="email" class="form-control" ng-class="{submitted:registerForm.submitted}" placeholder="EmailID" id="email" name="email" data-ng-model="register.email" required/>
             <span class="text-error" data-ng-show="registerForm.submitted  && registerForm.email.$error.required">EmailID is required</span>
            <span class="text-error" data-ng-show="registerForm.submitted && registerForm.email.$error.email">EmailID address is not valid</span>
           <!--  <div class="msg" style="color:red;">{{ message_email }}</div> -->
          </div>
          <div>
            <input type="password" class="form-control" ng-class="{submitted:registerForm.submitted}" placeholder="Password" name="password" id="password" data-ng-model="register.password" ng-minlength="3" ng-maxlength="20" required/>
              <span class="text-error" data-ng-show="registerForm.submitted && registerForm.password.$error.required">Password is required</span>
              <span class="text-error" data-ng-show="registerForm.submitted && registerForm.password.$error.minlength">Password is too short.</span>
               <span class="text-error" data-ng-show="registerForm.submitted && registerForm.password.$error.maxlength">Password is too long.</span>
              </div>
          <div>
            <a class="btn btn-default submit" data-ng-click="doregister()">Submit</a> <!-- ng-disabled="registerForm.$invalid" -->
          </div>

          <div class="clearfix"></div>

            <!-- <div class="g-signin2" data-onsuccess="onSignIn"  data-theme="dark"></div> -->
            <div class="g-signin2"   data-onsuccess="onSignIn"  data-theme="dark"></div>

          <div class="separator">
            <p class="change_link">Already a member ?
              <a ng-href="#/login" class="to_register"> Log in </a>
            </p>

            <div class="clearfix"></div><br/>
            <div>
              <h1><i class="fa fa-paw"></i> Thinqbot</h1>
                <p>©2016 All Rights Reserved. </p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>  
</div>