<head>
<style>
.color-red{
    color: red;
}
</style>
</head>

<div role="main">
  <div class="clearfix"></div>
    <div class="right_col" role="main">
      <div class="">
         <div class="form-group">
              <input type="button" class="btn btn-primary pull-right" ng-click="zoom()" value="zoom">
              <input type="button" class="btn btn-primary pull-left" ng-click="clear()" value="clear">
              <input type="button" class="btn btn-primary pull-left" ng-click="loadNew()" value="Refresh">
          </div> <!-- {{ logtables }} -->
        <table border="1" class="table table-striped jambo_table bulk_action" id="table_id"> 
          <thead> 
            <tr>
            <!-- <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>  ng-repeat="table in tables"-->
              <!--<th data-ng-model="filterLevelname" data-ng-repeat="(header, value) in logtables[0]">{{header}}
                <select class="form-control" ng-model="filterLevelname">
                  <option value="">Select Option</option>
                  <option value="DEBUG">DEBUG</option>
                  <option value="ERROR">ERROR</option>
                  <option value="WARNING">WARNING</option>
                </select>
              </th>  -->
              <!--  <script> console.log('logtables ::::::1 ' + {{ $scope.logtables }}); </script>  -->
                 <th>AscTime</th>
                <th>LevelName
                  <select ng-model="filterLevelname">
                    <option value="">Select Option</option>
                    <option value="DEBUG">DEBUG</option>  
                    <option value="ERROR">ERROR</option>
                  <option value="WARNING">WARNING</option>
                  </select>
                </th>
                <th>Message</th>  
            </tr>
          </thead>
        <!--   <tbody>
 <tr ng-repeat="row in logtables | filter:searchText"> -->
          <!-- <tr ng-repeat="row in logtables | orderBy:orderByField:!reverseSort | filter:filterLevelname"> --><!-- orderBy:'-levelname' -->
            <!-- <td ng-repeat="cell in row">{{cell}}</td>
          </tr>
</tbody> -->
           <tbody>
              <tr ng-repeat="row in logtables | orderBy:orderByField:!reverseSort | filter:filterLevelname" ng-mouseover="style={color:'black','font-size':'20px', 'cursor':'pointer'}"  ng-mouseleave="style={'background-color':'white'}" ng-style="style">
                <td>{{row.asctime}}</td> 
                <td ng-class="{'color-red': row.levelname === 'ERROR'}">{{row.levelname}}</td>
                <td>{{row.message}}</td>
            </tr> 
          </tbody> 
          </table>
        </div>
      </div>
  </div>