<head>
<style>
.color-red{
    color: red;
}

#text{
  color: black;
}
</style>
</head>

<div role="main">
  <!-- <div class="clearfix"></div> -->
    <div class="right_col" role="main">
      <div class="">
         <div class="form-group">
              <input type="button" class="btn btn-primary pull-left" ng-click="clear()" value="clear">
              <input type="button" class="btn btn-primary pull-left" ng-click="loadNew()" value="Refresh">
          </div>
         <!--  <div ng-bind-html="quote"></div> -->
        <table border="1" class="table table-striped jambo_table bulk_action" id="table_id"> 
          <thead> 
            <tr>
              <th>AscTime</th>
              <th>LevelName
                <!-- <select ng-model="filterLevelname" ng-options="header.levelname as header.levelname for header in logtables"> -->
                <select ng-model="filterLevelname"  id = "text" ng-options="header.levelname as header.levelname for header in logtables | unique:'levelname'">  
                  
         <!--  <select name="repeatSelect" id="repeatSelect" ng-model="data.model"> -->
        <!-- <option ng-repeat="option in logtables | unique" value="{{option.id}}">{{option.levelname}}</option>  -->

                    <!--   <option value=""  ng-repeat="header in logtables | unique:'filterLevelname'">Select Option</option> -->
                     <option value="">Select Option</option>
                     <!--  <option value="ERROR">{{header.levelname}}</option>  -->
                 
                  </select>
                </th>
                <th>Message</th>  
            </tr>
          </thead>
           <tbody id="tbody_id" name="clearData">
              <tr ng-repeat="row in logtables | orderBy:orderByField:!reverseSort | filter:{ levelname : filterLevelname}" ng-mouseover="style={color:'black','font-size':'20px', 'cursor':'pointer'}"  ng-mouseleave="style={'background-color':'white'}" ng-style="style">
                <td>{{row.asctime}}</td> 
                <td ng-class="{'color-red': row.levelname === 'ERROR'}">{{row.levelname}}</td>
                 <td ng-click="jsonFormat();">{{row.message}}</td> 
                <!-- <td ng-click="jsonFormat();">{{quote}}</td> -->
            </tr> 
          </tbody> 
          </table>
        </div>
      </div>
  </div>





