  <!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyProject</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
     <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"> 
      <!--  <link rel="stylesheet" href="styles/custom.css"> -->

  </head>

  <!-- <body ng-app="angularIndexTestApp" class="nav-md"> -->
  <body ng-app="inHouseDashboardApp" class="nav-md footer_fixed"> <!-- angularIndexTestApp  inHouseDashboardApp-->
       <div class="container body"> 
       <div class="main_container">
        <!-- <div class="col-md-3 left_col">
           <div class="left_col scroll-view"> -->

           <!--  <div class="col-md-12"> -->
             <div class="col-md-3 left_col menu_fixed" data-ng-controller="NavcontrollerCtrl" data-ng-show="isActive()">
             <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a ng-href="#/index" class="site_title"><i class="fa fa-paw"></i> <span>Thinqbot!</span></a>
            </div>

            <div class="clearfix"></div>
             <!-- menu profile quick info -->
            <div class="profile" data-ng-controller="LoginCtrl">
              <div class="profile_pic">
                <img src="images/yeoman.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2 data-ng-model="username">{{ name }}</h2>
              </div> 
            </div>
            <!-- /menu profile quick info -->
            <br/>
         <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a ng-href="#/chartjs"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a ng-href="#/chartjs">Dashboard</a></li>
                      <li><a ng-href="#/chartjs">Dashboard2</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a ng-href="#/form">General Form</a></li>
                       <li><a ng-href="#/bulklogin">Bulk Login</a></li> 
                    </ul>
                  </li> 
                  <li><a ng-href="#/tables"><i class="fa fa-edit"></i> DeviceForms <span class="fa fa-chevron-down"></span></a>
                  </li> 
                </ul>
              </div>
            </div>

          <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small navbar-fixed-bottom">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
                        </div> </div>
          
<!--    <div class="col-md-9 right_col"> -->


      <div class="top_nav" data-ng-controller="NavcontrollerCtrl" data-ng-show="isActive()"> 
          <div class="nav_menu">
            <nav >
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/yeoman.png" alt="">{{name}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a ng-href="#/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li> <!-- /users/logout -->
          
                    <!--<a href="#" onclick="signOut()">Sign out</a> -->

                     <a href="#/login" onclick="signOut();">Sign out</a>

                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="../images/yeoman.png" alt="Profile Image" /></span>
                        <span>
                          <span>chandrani</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="../images/yeoman.png" alt="Profile Image" /></span>
                        <span>
                          <span>chandrani</span>
                          <span class="time">3 mins ago</span>
                        </span>
                      
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="../images/yeoman.png" alt="Profile Image" /></span>
                        <span>
                          <span>chandrani</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="../images/yeoman.png" alt="Profile Image" /></span>
                        <span>
                          <span>chandrani</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div> 
        <!-- /top navigation -->

    <div class="container">
    <div ng-view=""></div>
    </div>

  <div class="clearfix"></div>
  <!-- <nav class="navbar navbar-inverse">  --><!-- navbar-fixed-bottom -->
  <footer data-ng-controller="NavcontrollerCtrl" data-ng-show="isActive()">
          <div class="pull-right">
            By  <a href="http://www.thinqbot.com/">thinqbot</a>
          </div>
          <div class="clearfix"></div>
        </footer>
<!-- </nav> -->
     </div> 
     </div>

   <!--  </div> </div> -->

  <!--   <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div> -->

<!-- </div>
</div> -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>



<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>


 <!--  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer>
    
   /*  function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    };



 function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }; */
  </script>  -->



 <!--  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script> -->

    <script src="https://apis.google.com/js/platform.js" async defer> 
</script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ng-websocket/ng-websocket.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <!-- <script src="scripts/controllers/main.js"></script> -->
        <script src="scripts/controllers/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>

        <!-- <script src="styles/custom.js"></script> -->
        <!--  <script src="scripts/custom.js"></script> -->
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/tables.js"></script>
        <script src="scripts/controllers/chartjs.js"></script>
         <script src="scripts/controllers/login.js"></script> 
        <script src="scripts/controllers/navcontroller.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/forgotpassword.js"></script>
        <script src="scripts/controllers/success.js"></script>
        <script src="scripts/controllers/logout.js"></script>
        <script src="scripts/services/authenticateservice.js"></script>
        <script src="scripts/controllers/bulklogin.js"></script>
        <!-- <script src="scripts/filters/appfilter.js"></script> -->
        <script src="scripts/controllers/bulksuccess.js"></script>
        <!-- endbuild -->
</body>
</html>


      
